div.route-positions {
    .bar {
        height: 4px;
        margin: 2em 0;
        background-color: #007bff;
        position: relative;
        border-radius: 2px;

        .person {
            border: 1px solid #007bff;
            padding: 0.4em 0.8em;
            width: 4em;
            text-align: center;
            border-radius: 1em;
            position: absolute;
            top: -1em;
            background: #007bff;
            color: #fff;
            transition: all 0.5s ease;
            font-size: 0.9em;
            font-weight: bold;
        }
    }
}